# Python cache/compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Environment variables
.env
.env.*

# Editor/project files
.vscode/
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Logs
*.log

# Database files
*.db

# Test / coverage
htmlcov/
.coverage
.coverage.*
.pytest_cache/

# Misc
.python-version

# Ignore compiled C extensions
*.so
